<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<h1>Welcome home</h1>

<div th:replace="fragments/navigation"></div>

<p>This is your home page</p>

<p th:if="${loggedIn}">
    Username:
    <b th:text="${username}"></b>
</p>

<form action="/logout" method="post" th:if="${loggedIn}">
    <input
            type="hidden"
            th:name="${_csrf.parameterName}"
            th:value="${_csrf.token}"/>

    <input type="submit" value="Logout">
</form>

<p th:unless="${loggedIn}">
    <a href="/sign-in">Log in</a>
</p>

</body>
</html>